html {
  font-family: Karla, sans-serif;
}

section {
  text-align: center;
  padding: 20px 0 50px 0;
}

.info {
  display: flex;
  width: 1000px;
  margin: auto;
}

.icon {
  margin-top: 0;
}

.content {
  text-align: center;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
}

h1 {
  font-size: 35pt;
  letter-spacing: 0.15em;
}

h3 {
  text-align: left;
  text-transform: uppercase;
}

p {
  text-align: left;
}

#header-description {
  text-align: center;
  margin: auto;
}

.submit {
  font-weight: bold;
  letter-spacing: 0.03em;
  background-color: white;
  border-color: red;
  color: red;
  padding: 10px 35px;
}
